<!doctype html>
<html lang="en">
<head>
  <title>Shopping List Check Off</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .emptyMessage {
      font-weight: bold;
      color: red;
      font-size: 1.2em;
    }
    li {
      margin-bottom: 15px;
      font-size: 1.2em;
    }
    li > button {
      margin-left: 6px;
      float: right;
    }
    button > span {
      color: green;
    }
  </style>
</head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">
      <div class="col-md-6" ng-controller='ToAddToShoppingListController as addToBuy'>
        <input type "text" ng-model="addToBuy.name" placeholder="item name">
        <input type "text" ng-model="addToBuy.quantity" placeholder="quantity">
        <button ng-click="addToBuy.addItem();">Add Item To Shopping List</button>
      </div>
    </div>
    <div class="row">
      <!-- To Buy List -->
      <div class="col-md-4" ng-controller='ToBuyShoppingController as showBuy'>
        <h2>To Buy:</h2>
        <ul>
          <li ng-repeat="item in showBuy.items">Buy {{ item.quantity}} {{item.name}}<button ng-click="showBuy.moveToBought($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>Bought</button></li>
        </ul>
        <div ng-if = "showBuy.items < 1" class="emptyMessage">Everything is bought!</div>
      </div>
      <div class="col-md-2"></div>
      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller='AlreadyBoughtShoppingController as showBought'>
        <h2>Already Bought:</h2>
        <ul>
          <li ng-repeat="item in showBought.items">Bought {{item.quantity}} {{item.name}}<button ng-click="showBought.moveToBuy($index);" class="btn btn-default">Need to buy again</button></li>
        </ul>
        <div ng-if = "showBought.items < 1" class="emptyMessage">Nothing bought yet.</div>
      </div>
    </div>
  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
